/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #6759CD, #342D67);
    color: white;
    margin: 0;
    padding: 0;
}

/* Barre de navigation  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.search-bar {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 5px;
    border-radius: 20px;
    margin-left: 5%;

}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    width: 65%;

}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 300px;
}

.search-bar i {
    color: gray;
    width: 150px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

/* Icône du menu */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

/* Barre latérale */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: white;
    color: black;
    transition: 0.3s;

}

.sidebar-footer {
 
}
/* Bouton de fermeture */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

/* Liens du menu */
.sidebar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}



/* Affichage du menu */
.sidebar.active {
    left: 0;
}


/* Profil */
.profile{
    padding-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Section de bienvenue */
.welcome {
    text-align: center;

}

.welcome h1 {
    font-size: 45px;
}

.welcome span {
    color: #D28C64;
}

.welcome p {
    font-size: 16px;
}

.welcome h2 {
    margin-bottom: 20px;
}
/* formation*/ 
.formation{
    background-color: #ffffff;
}

/* Cours récents */
.recent-courses, .domains {
    padding: 20px;
}
.mydict{
    padding-bottom: 30px;
}
:focus {
  outline: 0;
  border-color: #6759CD;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #6759CD;
  background-color: #dee7ff;
  z-index: 1;
  color: #6759CD;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
}


.recent-courses h2{
    color: black;
    margin-left: 10px;
}
.course-container {
    display: flex;
    gap: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background: rgb(237, 237, 237);
    color: black;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    transition: transform 0.3s;
    border: 0.5px solid lightgray;
    
}

.course-card:hover {
    transform: scale(1.05);
}

.formation img {
    width: 200px;
    height: 100px;
}

.formation p{
    font-size: 14px;
}

/* Catégories */

.domains h2{
    color: black;
    margin-left: 10px;
}
.categories {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 5px;
    color: black;
    margin-bottom: 15px;
}

.categories span {
    cursor: pointer;
    padding: 5px 15px;
    border-bottom: 2px solid transparent;
}

.categories .active {
    border-bottom: 2px solid black;
}

/* Pied de page */
/* Section contact */
.contact {

    color: #ffffff;
    padding: 2rem;
}
ul {
    list-style: none;
}
  
.example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.example-2 .icon-content {
    margin: 0 10px;
    position: relative;
}

  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }

  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }

  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
  }

  .example-2 .icon-content a:hover {
    color: white;
  }

  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="facebook"] .filled,
  .example-2 .icon-content a[data-social="facebook"] ~ .tooltip {
    background-color: #3b5998;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }  
.couleur{
    color:  #D28C64;
}


.container-contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.partie-d{
    flex: 0;
    min-width: 300px;
    margin: 1rem;
}

.partie-g{
    flex: 1;
    min-width: 300px;
    margin: 1rem;
    padding-right: 20%;
}

.gauche {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.place-g h1 {
    font-size: 2rem;
}

.place-g p {
    font-size: 1rem;
}

.place-d p {
    font-size: 1.2rem;
    font-weight: bold;
}

.down-logo {
    width: 70px;
    height: 70px;
}

.photo-reseau {
    width: 100%;
    max-width: 200px;
}

footer {
    text-align: center;
    font-size: 0.7rem;
    margin-top: 0.5rem;
}


/* Responsive Design */
@media (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }


    header img{
        visibility: hidden;
    }

    .logo{ 
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 10px;
        margin-right: 25%;
    }


    .search-bar {
        max-width: 300px;
        width: 70%;
    }

    .course-container {
        flex-direction: column;
        align-items: center;
    }

    .course-card {
        width: 90%;
        max-width: 300px;
    }
}
